astroid==2.11.7
attrs==22.2.0
certifi==2024.6.2
charset-normalizer==2.0.12
click==8.0.4
cloud-init==19.1.23
configobj==5.0.8
dataclasses==0.8
dill==0.3.4
distlib==0.3.9
filelock==3.4.1
Flask==2.0.3
gunicorn==21.2.0
idna==3.7
importlib-metadata==4.8.3
importlib-resources==5.4.0
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.0.0
lazy-object-proxy==1.7.1
MarkupSafe==2.0.1
mccabe==0.7.0
oauthlib==3.2.2
olefile==0.46
packaging==21.3
Pillow==6.2.2
platformdirs==2.4.0
pylint==2.13.9
PyMySQL==1.0.2
pyparsing==3.1.4
pyrsistent==0.18.0
PyYAML==6.0.1
requests==2.27.1
six==1.16.0
tomli==1.2.3
typed-ast==1.5.5
typing_extensions==4.1.1
urllib3==1.26.19
virtualenv==20.17.1
Werkzeug==2.0.3
wrapt==1.16.0
zipp==3.6.0
